<head>
  <title>Welcome</title>
</head>
<div class="body">
  <!-- <table align="center"> -->
  <div  class="header">
     <div class="parent_h0">
        <div class="div1"> </div>
        <div class="div2">
           <div class="parent_h">
              <div class="div1"><a href="#" class="myButton2">Breackfast</a> </div>
              <div class="div2"><a href="#" class="myButton2">Lunch</a> </div>
              <div class="div3"><a href="#" class="myButton2">Dinner</a> </div>
              <div class="div4"><a href="#" class="myButton2">Bakery</a> </div>
              <div class="div5"><a href="#" class="myButton2">Drinks</a> </div>
           </div>
        </div>
        <div class="div3"> </div>
     </div>
     6b410a
  </div>
  <div width="100%" class="header-svg">
  </div>
  <div width="100%" class="background-svg">
     <svg xmlns="http://www.w3.org/2000/svg" style="z-index: -100; position: absolute; top: 35vh;" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 640 800">
        <defs>
           <filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feGaussianBlur stdDeviation="103" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur>
           </filter>
        </defs>
        <g filter="url(#bbblurry-filter)">
           <ellipse rx="61.5" ry="191.5" cx="499.9081553061178" cy="55.57848484309642" fill="hsla(31, 91%, 55%, 1.00)"></ellipse>
           <ellipse rx="61.5" ry="191.5" cx="493.1952072504" cy="774.772553211122" fill="hsla(30, 79%, 51%, 1.00)"></ellipse>
           <ellipse rx="61.5" ry="191.5" cx="64.37931280061014" cy="413.37565072127217" fill="hsla(47, 94%, 52%, 1.00)"></ellipse>
        </g>
     </svg>
  </div>
</div>
<div class="parent">
  <div class="div1">
     <h1 style="color: #F89C23;">TASTY TALES</h1>
  </div>
  <div class="div2">
     <h3>
        Morbi sed arcu adipiscing semper at. Diam in ullamcorper aenean eget condimentum purus. Sed cursus in senectus et condimentum senectus. Eu massa lacinia nunc arcu mauris proin proin odio. 
     </h3>
  </div>
  <div class="div3"> <a href="#" class="myButton">Start</a>  </div>
  <div class="div4"> </div>
  <div class="div5"> </div>
  <div class="div6"> </div>
</div>
<!-- 
  <tr>
    <td><a routerLink="/login"><button class="bigbutton"><span>Log In</span></button></a></td>
    <td><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></td>
  </tr> -->
<!-- </table> -->
</div>