<div class="star-rating">
  <input type="radio" id="star-5" name="rating" value="5" (click)="onRatingChanged(5)">
  <label for="star-5"><i class="fa fa-star"></i></label>
  <input type="radio" id="star-4" name="rating" value="4" (click)="onRatingChanged(4)">
  <label for="star-4"><i class="fa fa-star"></i></label>
  <input type="radio" id="star-3" name="rating" value="3" (click)="onRatingChanged(3)">
  <label for="star-3"><i class="fa fa-star"></i></label>
  <input type="radio" id="star-2" name="rating" value="2" (click)="onRatingChanged(2)">
  <label for="star-2"><i class="fa fa-star"></i></label>
  <input type="radio" id="star-1" name="rating" value="1" (click)="onRatingChanged(1)">
  <label for="star-1"><i class="fa fa-star"></i></label>
</div>
