<head>
  <title>Welcome</title>
</head>
<div class="body">

  <header>
  <div class="container">
    <div class="logo">
      <a href="index_en.html"><img src="assets/img/logo.png" alt="Logo" width="100" height="100" style="margin-top: 10px;"></a>
    </div>
    <form class="search-form">
      <input type="text" name="search" placeholder="Recherche...">
      <button type="submit">Rechercher</button>
    </form>
    <div class="links">
      <a routerLink="/login" href="#">
        <img src="assets/img/user.png" alt="Image 1" width="50" height="50">
      </a>
      <a  routerLink="/home-bg" href="#">

        <img src="assets/img/uk.png" alt="Image 2" width="50" height="50">
      </a>
    </div>
  </div>
  <div class="categories">
    <a href="#"><div class="category">
      <h4>Breakfast</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Lunch</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Dinner</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Desserts</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Drinks</h4>
    </div></a>
  </div>
  </header>
  <div class="videopage">
    <h1 style="
    margin-left: -4px;
    display: inline-block;
    margin: 10px;
    margin-right: 2pc;
">Video Title</h1><app-star-rating (rated)="onRated($event)"></app-star-rating>
    <iframe class="video" src="https://drive.google.com/file/d/1QBEDKqA1MXBvIv6nXEXDuSZ4oVE0O31e/preview"  allow="autoplay"></iframe>
<!--    <video src="promo.mp4" controls></video>-->

    <h2>Description</h2>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu lorem bibendum, vestibulum massa quis, sollicitudin neque. Nullam eget ullamcorper velit. Quisque vel nibh id ante mollis suscipit nec vel sem. Donec bibendum elit quis erat sagittis ultrices. Proin semper neque a dolor lobortis, quis pharetra urna consectetur. Sed eget arcu nulla. Nullam euismod lectus quis vehicula egestas. Mauris sollicitudin ipsum sit amet luctus scelerisque. Maecenas hendrerit, elit vel rhoncus molestie, libero elit laoreet tortor, ac pulvinar eros odio vitae enim.
    </div><br><br><br>
    <div class="comments">
<!--      <img src="assets/img/logos/comment.png" alt="Comment logo" width="30">-->
            <!-- Insert comment section here -->
    </div>
    <br><br><br>
  </div>



  <br><br><br>
  <footer>
    <div class="footer_categories">
      <p>Categories</p>
      <ul>
        <li><a href="#">Breakfast</a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
        <li><a href="#">Desserts</a></li>
        <li><a href="#">Drinks</a></li>
      </ul>
    </div>
    <div class="team">
      <p>About Us</p>
      <ul>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">The Devs</a></li>
        <li><a href="#">The Graphic Designers</a></li>
        <li><a href="#">The Comm</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
    </div>
    <div class="more">
      <p>More</p>
      <ul>
        <li><a href="#">Our Goals</a></li>
        <li><a href="#">Term & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Database</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    <div class="contact">
      <p>Contact</p>
      <ul>
        <li><a href="#">+33 4 54 89 90</a></li>
        <li><a href="#">tastytales@cook.com</a></li>
        <li><a href="#">5 rue Rimbaud, 75013</a></li>
        <li><a href="#">Paris, France</a></li>
        <li><a href="#">Social Media</a></li>
      </ul>
    </div>

    <div class="social">
      <a href="#"><img src="assets/img/logos/youtube.png" alt="YouTube" width="50px"></a>
      <a href="#"><img src="assets/img/logos/facebook.png" alt="Facebook" width="50px"></a>
      <a href="#"><img src="assets/img/logos/twitter.png" alt="Twitter" width="50px"></a>
      <a href="#"><img src="assets/img/logos/tiktok.png" alt="TikTok" width="50px"></a>
      <a href="#"><img src="assets/img/logos/instagram.png" alt="Instagram" width="50px"></a>
    </div><br><br>
    <h3 class="rights">Tasty Tales Corp 2023 | All rights reserved</h3>
  </footer>
<!--  <br><br><br><br>-->
<!--  <H1 align="center">SpringFood | A FASTER WAY TO ORDER YOUR FOOD</H1>-->
<!--  <br><br><br><br><br><br>-->
<!--  <table align="center">-->
<!--    <tr>-->
<!--      <td><a routerLink="/login"><button class="bigbutton"><span>Log In</span></button></a></td>-->
<!--      <td><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></td>-->
<!--    </tr>-->
<!--  </table>-->
</div>


<!--

<head>
  <meta charset="UTF-8">
  <title>Tasty Tales Home</title>
  <link rel="stylesheet" href="style_en.css">
</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <a href="index_en.html"><img src="assets/img/logo.png" alt="Logo" width="100" height="100" style="margin-top: 10px;"></a>
    </div>
    <form class="search-form">
      <input type="text" name="search" placeholder="Recherche...">
      <button type="submit">Rechercher</button>
    </form>
    <div class="links">
      <a href="#">
        <img src="assets/img/user.png" alt="Image 1" width="50" height="50">
      </a>
      <a href="#">
        <img src="assets/img/uk.png" alt="Image 2" width="50" height="50">
      </a>
    </div>
  </div>
  <div class="categories">
    <a href="#"><div class="category">
      <h4>Breakfast</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Lunch</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Dinner</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Desserts</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Drinks</h4>
    </div></a>
  </div>
</header>
<div class="banner">
  <video src="../promo.mp4" autoplay muted loop></video>
  <div class="overlay"></div>
  <div class="banner-text">
    <h1>Bring your culinary creations to life
      and share them with the world
      on Tasty Tales!</h1>
  </div>
</div>
<div class="content">
  <div class="left">
    <h2>WHAT IS TASTY TALES</h2>
    <p>Welcome to Tasty Tales, the ultimate platform for food lovers
      to share their culinary creations with the world! Whether you're a home cook,
      a professional chef, or simply passionate about food, our platform is the
      perfect place to showcase your skills and share your recipes with a global community.
      From mouth-watering videos to step-by-step tutorials, join us and discover
      a world of flavors and inspiration at Tasty Tales.</p>
    <button class="orange-button">BEGIN TO COOK </button>
  </div>
  <div class="right">
    <img src="assets/img/cook.png" alt="Image Cook">
  </div>
</div>
<h2>What for Breakfast</h2>
<div class="image-links">
  <div class="image-link">
    <a href="../video.html">
      <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
      <div class="caption">
        <div class="legend"><h3>User Recipe Title</h3></div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
      <div class="caption">
        <div class="legend"><h3>User Recipe Title</h3></div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
      <div class="caption">
        <div class="legend"><h3>User Recipe Title</h3></div>
      </div>
    </a>
  </div>
</div>
<br><br><br>
<h2>Time for Lunch</h2>
<div class="image-links">
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
</div>
<br><br><br>
<h2>Looking for a great dinner </h2>
<div class="image-links">
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
</div>
<br><br><br>
<footer>
  <div class="footer_categories">
    <p>Categories</p>
    <ul>
      <li><a href="#">Breakfast</a></li>
      <li><a href="#">Lunch</a></li>
      <li><a href="#">Dinner</a></li>
      <li><a href="#">Desserts</a></li>
      <li><a href="#">Drinks</a></li>
    </ul>
  </div>
  <div class="team">
    <p>About Us</p>
    <ul>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">The Devs</a></li>
      <li><a href="#">The Graphic Designers</a></li>
      <li><a href="#">The Comm</a></li>
      <li><a href="#">Join Us</a></li>
    </ul>
  </div>
  <div class="more">
    <p>More</p>
    <ul>
      <li><a href="#">Our Goals</a></li>
      <li><a href="#">Term & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Database</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
  <div class="contact">
    <p>Contact</p>
    <ul>
      <li><a href="#">+33 4 54 89 90</a></li>
      <li><a href="#">tastytales@cook.com</a></li>
      <li><a href="#">5 rue Rimbaud, 75013</a></li>
      <li><a href="#">Paris, France</a></li>
      <li><a href="#">Social Media</a></li>
    </ul>
  </div>

  <div class="social">
    <a href="#"><img src="assets/img/logos/youtube.png" alt="YouTube" width="50px"></a>
    <a href="#"><img src="assets/img/logos/facebook.png" alt="Facebook" width="50px"></a>
    <a href="#"><img src="assets/img/logos/twitter.png" alt="Twitter" width="50px"></a>
    <a href="#"><img src="assets/img/logos/tiktok.png" alt="TikTok" width="50px"></a>
    <a href="#"><img src="assets/img/logos/instagram.png" alt="Instagram" width="50px"></a>
  </div><br><br>
  <h3 class="rights">Tasty Tales Corp 2023 | All rights reserved</h3>
</footer>

</body>

-->
