<head>
  <title>Welcome</title>
</head>
<div class="body">

  <header>
  <div class="container">
    <div class="logo">
      <a href="index_en.html"><img src="assets/img/logo.png" alt="Logo" width="100" height="100" style="margin-top: 10px;"></a>
    </div>
    <form class="search-form">
      <input type="text" name="search" placeholder="Търсене...">
      <button type="submit">Rechercher</button>
    </form>
    <div class="links">
      <a routerLink="/login" href="#">
        <img src="assets/img/user.png" alt="Image 1" width="50" height="50">
      </a>
      <a  routerLink="/home" href="#">

        <img src="assets/img/bg.png" alt="Image 2" width="50" height="50">
      </a>
    </div>
  </div>
  <div class="categories">
    <a href="#"><div class="category">
      <h4>Закуска</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Обяд</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Вечеря</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Десерти</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Напитки</h4>
    </div></a>
  </div>
  </header>
  <div class="banner">
    <video src="assets/video/promo.mp4" autoplay muted loop></video>

<!--    <video width="100%" height="660" >-->
<!--      <source src="https://www.youtube.com/watch?v=mZzW5ziU-Vc" type="video/mp4">-->
<!--&lt;!&ndash;      <source src="myvideo.webm" type="video/webm">&ndash;&gt;-->
<!--    </video>-->
    <div class="overlay"></div>
    <div class="banner-text">
      <h1>Вдъхнете живот на вашите кулинарни творения
        и ги споделяйте със света
        На Tasty Tales!</h1>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <h2 style="
    color: orange;
">КАКВО Е ВКУСНИ ПРИКАЗКИ</h2>
      <p>Добре дошли в Tasty Tales, най-добрата платформа за любителите на храната
        да споделят своите кулинарни творения със света! Независимо дали сте домашен готвач,
        професионален готвач или просто запален по храната, нашата платформа е
        идеалното място да покажете уменията си и да споделите рецептите си с глобалната общност.
        От апетитни видеоклипове до уроци стъпка по стъпка, присъединете се към нас и открийте
        свят от вкусове и вдъхновение в Tasty Tales.</p>
      <button routerLink="/menu" class="orange-button">Начало</button>
    </div>
    <div class="right">
      <img src="assets/img/cook.png" alt="Image Cook">
    </div>
  </div>
  <h2>What for Breakfast</h2>
  <div class="image-links">
    <div class="image-link">
      <a routerLink="/video" href="../video.html">
        <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
        <div class="caption">
          <div class="legend"><h3>User Recipe Title</h3></div>
        </div>
      </a>
    </div>
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
        <div class="caption">
          <div class="legend"><h3>User Recipe Title</h3></div>
        </div>
      </a>
    </div>
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
        <div class="caption">
          <div class="legend"><h3>User Recipe Title</h3></div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <h2>Time for Lunch</h2>
  <div class="image-links">
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
        <div class="caption">
          <div class="legend">User Recipe Title</div>
        </div>
      </a>
    </div>
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
        <div class="caption">
          <div class="legend">User Recipe Title</div>
        </div>
      </a>
    </div>
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
        <div class="caption">
          <div class="legend">User Recipe Title</div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <h2>Looking for a great dinner </h2>
  <div class="image-links">
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
        <div class="caption">
          <div class="legend">User Recipe Title</div>
        </div>
      </a>
    </div>
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
        <div class="caption">
          <div class="legend">User Recipe Title</div>
        </div>
      </a>
    </div>
    <div class="image-link">
      <a href="#">
        <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
        <div class="caption">
          <div class="legend">User Recipe Title</div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <footer>
    <div class="footer_categories">
      <p>Categories</p>
      <ul>
        <li><a href="#">Breakfast</a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Dinner</a></li>
        <li><a href="#">Desserts</a></li>
        <li><a href="#">Drinks</a></li>
      </ul>
    </div>
    <div class="team">
      <p>About Us</p>
      <ul>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">The Devs</a></li>
        <li><a href="#">The Graphic Designers</a></li>
        <li><a href="#">The Comm</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
    </div>
    <div class="more">
      <p>More</p>
      <ul>
        <li><a href="#">Our Goals</a></li>
        <li><a href="#">Term & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Database</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    <div class="contact">
      <p>Contact</p>
      <ul>
        <li><a href="#">+33 4 54 89 90</a></li>
        <li><a href="#">tastytales@cook.com</a></li>
        <li><a href="#">5 rue Rimbaud, 75013</a></li>
        <li><a href="#">Paris, France</a></li>
        <li><a href="#">Social Media</a></li>
      </ul>
    </div>

    <div class="social">
      <a href="#"><img src="assets/img/logos/youtube.png" alt="YouTube" width="50px"></a>
      <a href="#"><img src="assets/img/logos/facebook.png" alt="Facebook" width="50px"></a>
      <a href="#"><img src="assets/img/logos/twitter.png" alt="Twitter" width="50px"></a>
      <a href="#"><img src="assets/img/logos/tiktok.png" alt="TikTok" width="50px"></a>
      <a href="#"><img src="assets/img/logos/instagram.png" alt="Instagram" width="50px"></a>
    </div><br><br>
    <h3 class="rights">Tasty Tales Corp 2023 | All rights reserved</h3>
  </footer>
<!--  <br><br><br><br>-->
<!--  <H1 align="center">SpringFood | A FASTER WAY TO ORDER YOUR FOOD</H1>-->
<!--  <br><br><br><br><br><br>-->
<!--  <table align="center">-->
<!--    <tr>-->
<!--      <td><a routerLink="/login"><button class="bigbutton"><span>Log In</span></button></a></td>-->
<!--      <td><a routerLink="/register"><button class="bigbutton"><span>Register</span></button></a></td>-->
<!--    </tr>-->
<!--  </table>-->
</div>


<!--

<head>
  <meta charset="UTF-8">
  <title>Tasty Tales Home</title>
  <link rel="stylesheet" href="style_en.css">
</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <a href="index_en.html"><img src="assets/img/logo.png" alt="Logo" width="100" height="100" style="margin-top: 10px;"></a>
    </div>
    <form class="search-form">
      <input type="text" name="search" placeholder="Recherche...">
      <button type="submit">Rechercher</button>
    </form>
    <div class="links">
      <a href="#">
        <img src="assets/img/user.png" alt="Image 1" width="50" height="50">
      </a>
      <a href="#">
        <img src="assets/img/uk.png" alt="Image 2" width="50" height="50">
      </a>
    </div>
  </div>
  <div class="categories">
    <a href="#"><div class="category">
      <h4>Breakfast</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Lunch</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Dinner</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Desserts</h4>
    </div></a>
    <a href="#"><div class="category">
      <h4>Drinks</h4>
    </div></a>
  </div>
</header>
<div class="banner">
  <video src="../promo.mp4" autoplay muted loop></video>
  <div class="overlay"></div>
  <div class="banner-text">
    <h1>Bring your culinary creations to life
      and share them with the world
      on Tasty Tales!</h1>
  </div>
</div>
<div class="content">
  <div class="left">
    <h2>WHAT IS TASTY TALES</h2>
    <p>Welcome to Tasty Tales, the ultimate platform for food lovers
      to share their culinary creations with the world! Whether you're a home cook,
      a professional chef, or simply passionate about food, our platform is the
      perfect place to showcase your skills and share your recipes with a global community.
      From mouth-watering videos to step-by-step tutorials, join us and discover
      a world of flavors and inspiration at Tasty Tales.</p>
    <button class="orange-button">BEGIN TO COOK </button>
  </div>
  <div class="right">
    <img src="assets/img/cook.png" alt="Image Cook">
  </div>
</div>
<h2>What for Breakfast</h2>
<div class="image-links">
  <div class="image-link">
    <a href="../video.html">
      <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
      <div class="caption">
        <div class="legend"><h3>User Recipe Title</h3></div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
      <div class="caption">
        <div class="legend"><h3>User Recipe Title</h3></div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
      <div class="caption">
        <div class="legend"><h3>User Recipe Title</h3></div>
      </div>
    </a>
  </div>
</div>
<br><br><br>
<h2>Time for Lunch</h2>
<div class="image-links">
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
</div>
<br><br><br>
<h2>Looking for a great dinner </h2>
<div class="image-links">
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img1.jpg" alt="Image 1" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img2.jpg" alt="Image 2" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
  <div class="image-link">
    <a href="#">
      <img class="featuredimg" src="assets/img/img3.jpg" alt="Image 3" width="400" height="250">
      <div class="caption">
        <div class="legend">User Recipe Title</div>
      </div>
    </a>
  </div>
</div>
<br><br><br>
<footer>
  <div class="footer_categories">
    <p>Categories</p>
    <ul>
      <li><a href="#">Breakfast</a></li>
      <li><a href="#">Lunch</a></li>
      <li><a href="#">Dinner</a></li>
      <li><a href="#">Desserts</a></li>
      <li><a href="#">Drinks</a></li>
    </ul>
  </div>
  <div class="team">
    <p>About Us</p>
    <ul>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">The Devs</a></li>
      <li><a href="#">The Graphic Designers</a></li>
      <li><a href="#">The Comm</a></li>
      <li><a href="#">Join Us</a></li>
    </ul>
  </div>
  <div class="more">
    <p>More</p>
    <ul>
      <li><a href="#">Our Goals</a></li>
      <li><a href="#">Term & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Database</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
  <div class="contact">
    <p>Contact</p>
    <ul>
      <li><a href="#">+33 4 54 89 90</a></li>
      <li><a href="#">tastytales@cook.com</a></li>
      <li><a href="#">5 rue Rimbaud, 75013</a></li>
      <li><a href="#">Paris, France</a></li>
      <li><a href="#">Social Media</a></li>
    </ul>
  </div>

  <div class="social">
    <a href="#"><img src="assets/img/logos/youtube.png" alt="YouTube" width="50px"></a>
    <a href="#"><img src="assets/img/logos/facebook.png" alt="Facebook" width="50px"></a>
    <a href="#"><img src="assets/img/logos/twitter.png" alt="Twitter" width="50px"></a>
    <a href="#"><img src="assets/img/logos/tiktok.png" alt="TikTok" width="50px"></a>
    <a href="#"><img src="assets/img/logos/instagram.png" alt="Instagram" width="50px"></a>
  </div><br><br>
  <h3 class="rights">Tasty Tales Corp 2023 | All rights reserved</h3>
</footer>

</body>

-->
