html, body{
  /*//background-color: #393939;*/
}

.loginbody {
  background-size:100% 100%;
  /*background-color: #393939;*/
  background-repeat:no-repeat;
  color: white;
  font: 14px Helvetica, sans-serif;
}

label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  padding: 5px 10px 0 0;
}

form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}


.bigbutton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.login-form {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: saddlebrown;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  color: black;
}

.register-button,
.signin-button {
  background-color: #FFCE3B;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
}

.register-button:hover,
.signin-button:hover {
  background-color: #eeb200;
}
